In [1]:
"""
날짜 : 2023/01/10
이름 : 윤사랑
내용 : 파이썬 함수 실습하기
"""

'\n날짜 : 2023/01/10\n이름 : 윤사랑\n내용 : 파이썬 함수 실습하기\n'

In [6]:
#함수
def f(x):
    y = 2 * x + 3
    return y

y1 = f(1)
y2 = f(2)
y3 = f(3)

print('y1 :', y1)
print('y2 :', y2)
print('y3 :', y3)

y1 : 5
y2 : 7
y3 : 9

In [9]:
#함수타입
def type1(x, y):
    z = x + y
    return z

def type2(dataset):
    tot = 0
    for data in dataset:
        tot += data

    print('dataset 합 :', tot)

def type3():
    dataset = [n for n in range(11)]

    tot = 0

    for k in dataset:
        tot += k

    return tot

rs1 = type1(1, 2)
rs2 = type1('hello', 'world')

print('rs1 :', rs1)
print('rs2 :', rs2)

type2([1,2,3,4,5])
type2((1,3,5,7,9))

total = type3()
print('total :', total)

rs1 : 3
rs2 : helloworld
dataset 합 : 15
dataset 합 : 25
total : 55

In [13]:
#디폴트 매개변수
def hello(name='홍길동', age=20):
    print('name :', name)
    print('age :', age)

hello()
hello('김유신')
hello('김춘추', 21)

name : 홍길동
age : 20
name : 김유신
age : 20
name : 김춘추
age : 21

In [16]:
#가변 매개변수
def total(*item):
    tot = 0

    for i in item:
        tot += i

    return tot

r1 = total(1)
r2 = total(1,2)
r3 = total(1,2,3)
r4 = total(1,2,3,4)
r5 = total(1,2,3,4,5)

print('r1 :', r1)
print('r2 :', r2)
print('r3 :', r3)
print('r4 :', r4)
print('r5 :', r5)

r1 : 1
r2 : 3
r3 : 6
r4 : 10
r5 : 15

In [18]:
#하나 이상 리턴값을 갖는 함수
def sumMulti(x, y):
    y1 = x + y
    y2 = x * y

    return y1, y2

r1, r2 = sumMulti(2, 3)

print('r1 :', r1)
print('r2 :', r2)

r1 : 5
r2 : 6

In [21]:

#변수에 저장하는 함수
def plus(x, y):
    return x + y

def minus(x, y):
    return x - y

var1 = plus
var2 = minus

r1 = var1(1, 2)
r2 = var2(2, 3)

print('r1 :', r1)
print('r2 :', r2)

defs = [plus, minus]
y1 = defs[0](2, 3)
y2 = defs[1](3, 1)

print('y1 :', y1)
print('y2 :', y2)

r1 : 3
r2 : -1
y1 : 5
y2 : 2

In [22]:
#람다함수
lamb1 = lambda x, y: x + y
lamb2 = lambda x, y: x - y

r1 = lamb1(1, 2)
r2 = lamb2(1, 2)

print('r1 :', r1)
print('r2 :', r2)

r1 : 3
r2 : -1