In [4]:
"""
날짜 : 2023/01/13
이름 : 윤사랑 
내용 : 파이썬 데이터베이스 프로그래밍 실습하기
"""
import pymysql

In [5]:
#Insert 실습

#데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1', 
                       user='root', 
                       password='1234', 
                       db='java1db', 
                       charset='utf8')

#SQL 실행객체
cur = conn.cursor()

#SQL 실행
sql = "insert into `user1` values ('p101','1234','파이썬','010-1234-1234', 22)"
cur.execute(sql)
conn.commit()

#데이터베이스 종료
conn.close()

print('Insert 완료...')

Insert 완료...

In [9]:
#Update 실습

#데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1', 
                       user='root', 
                       password='1234', 
                       db='java1db', 
                       charset='utf8')

#SQL 실행객체
cur = conn.cursor()

#SQL 실행
sql = "update `user1` set "
sql += "`name` = '홍길동',"
sql += "`hp` = '010-1111-1111',"
sql += "`age` = 23 "
sql += "where `uid` = 'p101';"
cur.execute(sql)
conn.commit()

#데이터베이스 종료
conn.close()

print('Update 완료...')

Update 완료...

In [11]:
#Delete 실습

#데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1', 
                       user='root', 
                       password='1234', 
                       db='java1db', 
                       charset='utf8')

#SQL 실행객체
cur = conn.cursor()

#SQL 실행
sql = "delete from `user1` where `uid`='p101'; "

cur.execute(sql)
conn.commit()

#데이터베이스 종료
conn.close()

print('Delete 완료...')

Delete 완료...

In [14]:
#Select 실습

conn = pymysql.connect(host='127.0.0.1', 
                       user='root', 
                       password='1234', 
                       db='java1db', 
                       charset='utf8')

cur = conn.cursor()

sql = "select * from `user1`;"
cur.execute(sql)
conn.commit()

#데이터 출력
for row in cur.fetchall():
    print('-----------------')
    print('아이디 : ', row[0])
    print('비밀번호 : ', row[1])
    print('이름 : ', row[2])
    print('휴대폰 : ', row[3])
    print('나이 : ', row[4])

conn.close()
print('Select 완료...')

-----------------
아이디 :  A101
비밀번호 :  1234
이름 :  유신
휴대폰 :  010-1234-1111
나이 :  20
-----------------
아이디 :  A102
비밀번호 :  1234
이름 :  김춘추
휴대폰 :  010-1234-2222
나이 :  23
-----------------
아이디 :  a1011
비밀번호 :  1234
이름 :  홍길동
휴대폰 :  010-2222-2222
나이 :  11
-----------------
아이디 :  qq
비밀번호 :  1234
이름 :  김철수
휴대폰 :  010-1234-1111
나이 :  22
Select 완료...